.container{
    margin: 5px;
    display: flex;
    position: relative;
    width: auto;
    height: auto;
}

.gallery {
    margin: 5px;
    width: 180px;
    border: 10px;
    border-color: blue;
    border-style: groove;
    background-color: rgb(144, 187, 189);
    flex: 1;
    
  }
  
.gallery:hover {
    border: 10px groove yellow;
  }
  
.gallery img {
    width: 100%;
    height: auto;
  }

.caption{
  padding: 10px;
  text-align: center;
}
