@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
$SecondaryColor: #321cc4; //Creates a variable to the secondary color of the wesbite in hexadecimal

.ImageContainer{
    position: relative;
    display: block;
    background-color: brown;
    width: auto;
    height: 800px;
    background-image: url('../../public/HomeOne.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    

}
.ImageTextContainer{
    text-align: center;
    font-weight: bolder;
    position: relative;
    display: block;
    top: 40%;
    transform: translateY(-40%);
}
.ImageContainerText{
    color: rgb(192, 53, 53);
    font-family: arialNovaBold;
    font-size: 300px;
    padding-bottom: 20px;
    position: relative;
    display: block;
}
.title1 {
    padding: 0;
    margin: 0;
    font-size: 250px;
    
    font-family: 'Fjalla One', sans-serif;
        -webkit-text-stroke: 4px rgb(255, 255, 255);
      -webkit-text-fill-color: $SecondaryColor;
  }